body {
    background: #041F52;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    color: #E1E1E1; 
  font-weight: 100%;
  width: 100%;
  height: 100%;
}
#logo {
    margin: 0px;
    padding: 10px 80px;
    color: #E1E1E1; 
    font-family: "Noto Sans HK", "Google", monospace;
}
#menuToggle
{
  display: block;
  position: absolute;
  top: 18px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: orange;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  height: 800px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #D3D3D3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
* {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 100%;
}
.bg{
  background-image: url("https://t3.ftcdn.net/jpg/02/94/19/98/240_F_294199808_iVKkhLOnlSyGFnBXf15sFx9LEW6gF9en.jpg");
  height:100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
 width: 100%;
}

.calc {
  position: relative;
  margin-left: 37%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top {
  max-width: 400px;
  width: 100%;
  background: #0C2C69;
  color: #E1E1E1;
  border-radius: 10px 10px 0 0;
}

.result {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin: 0;
  padding: 7px 10px 0px 10px;
  text-align: left;
  opacity: 0.6;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 30px;
  padding: 0px 20px 5px 5px;
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;
}

.hints {
  opacity: 0.3;
}

.keyboard {
  max-width: 400px;
  width: 100%;
  box-shadow: inset 10px -88px 160px 23px rgba(0, 0, 0, 0.8), 5px 35px 191px -43px grey;
  margin-bottom: 50px;
}

.crow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  ;
  justify-content: space-around;
  ;
  width: 100%;
  min-height: 50px;
  margin: auto;
}

.crow:last-child {
  border-radius: 0px 0px 10px 10px;
}

.cb {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #0C2C69;
  color: #E1E1E1;
  cursor: pointer;
  outline: 1px solid rgba(136, 14, 79, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.cb:hover {
  box-shadow: 5px 5px 8px -3px orange;
  z-index: 1000;
}

.cb:active {
  box-shadow: inset 5px 5px 8px -3px grey;
}

.screentext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animated {
  position: relative;
  top: 0;
  animation: movetext1 .2s 1;
}

@keyframes movetext1 {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

sup {
  vertical-align: text-top;
  font-size: 0.5em;
}

.inv {
  display: none;
}

.lighter {
  background-color: #0E3276;
  font-size: 1.2em;
}

.operands {
  background-color: #FF9200;
  color: #E1E1E1;
  font-size: 1.6em;
}

.enter {
  background-color: #09265C;
  color: #E1E1E1;
  font-size: 2em;
}