body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}
.dropdown {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-right: 0.1vh;
  padding-top: 0.1vh;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #103d91;
  min-width: 3vw;
  width: 10vh;
  height: 10vh;
  z-index: 1;
  top: 5vh;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.myBtn{
  position: absolute;
  left: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  border-radius: 10%;
  border: 0px;
  background-color: #0f3e96;
  color: #D3D3D3;
  text-align: right;
  text-decoration: none;
}
.myBtn:hover {
  background-color: #1346a3;
}
#language{
  position: relative;
  border: 2px;
  border-style: solid;
  border-radius: 10%;
  margin-right: 1vw;
  top: 1vw;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.grid-text{
  font-family: 'Montserrat', sans-serif;
float: left;
max-width: 600px;
font-size: 20px;
padding: 3%;
margin: auto;
text-align: center;
}
#descriptionAfter{
  font-family: 'Montserrat', sans-serif;
  float: left;
  max-width: 600px;
  font-size: 20px;
  padding: 3%;
  margin: auto;
}
#here{
  flex: 50%;
  box-sizing: border-box;
}
#contact{
  flex: 50%;
  box-sizing: border-box;
  margin-top: 2vh;
}
 #contactbox{
  font-family: 'Montserrat', sans-serif;
font-size: 150%;
text-align: center;
 }
#image1{
  width: 260px;
height: 260px;
padding: 0;
}
#myImg{
width: 200px;
border-radius: 50%;
}
#img1{
height: 100%;
}
#beforeText{
  height: 100%;
}
#image3{
  width: 300px;
  height: 240px;
  padding: 0;
  }
 
  #grids{
    padding-top: 13%;
  }

.grid-container {
  position: relative;
display: grid;
padding: 0px 10%;
padding-top: 0%;
grid-template-columns: 50% 50%;
margin: 1%;
height: 10%;
grid-template-columns: repeat(2, 1fr);
}
.grid-item {
font-size: 30px;
text-align: center;
}
 
.grid-about {
background-color: #ebebeb;
display: grid;
padding: 20px 70px;
grid-template-columns: 40% 60%;
grid-template-columns: repeat(2, 1fr);
} 
.grid-item {
font-size: 30px;
text-align: center;
}
#text{
position: absolute;
text-align: center;
  font-size: 2.5vw;
  margin-top: 10%;
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  color: #D3D3D3;
  background: linear-gradient(0.25turn,  #0f3e96, #175de3);
}
#logo {
position: absolute;
  margin: 0px;
  text-align: center;
  width: 100%;
  height: auto;
  top: 0px;
  font-size: 9vw;
  font-family: 'Montserrat', sans-serif;
  color: #ffbb00;
  background: linear-gradient(0.25turn,  #0f3e96, #175de3);
}
#menuToggle
{
display: block;
position: absolute;
top: 18px;
left: 20px;
 
z-index: 1;
 
-webkit-user-select: none;
user-select: none;
}
 
#menuToggle a
{
text-decoration: none;
color: #232323;
 
transition: color 0.3s ease;
}
 
#menuToggle a:hover
{
color: orange;
}
 
 
#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;
 
cursor: pointer;
 
opacity: 0; 
z-index: 2; 
-webkit-touch-callout: none;
}
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
 
background: #cdcdcd;
border-radius: 3px;
 
z-index: 1;
 
transform-origin: 4px 0px;
 
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}
 
#menuToggle span:first-child
{
transform-origin: 0% 0%;
}
 
#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
position: absolute;
width: 200px;
height: 1300px;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 125px;
 
background: #D3D3D3;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(-100%, 0);
 
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
padding: 10px 0;
font-size: 22px;
}
#menuToggle input:checked ~ ul
{
transform: none;
}


@media screen and (max-width: 980px) {
  .grid-text{
    padding: 1.5%;
    }
    .grid-container {
      margin-left: 1.3%;
      }
  }

  
@media screen and (max-width: 745px) {
  .grid-text{
    grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 1;
  }
  #img1{
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 2;
  }
  #beforeText{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #descriptionAfter{
    grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 2;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    }
    .grid-about {
      grid-template-columns: repeat(1, 1fr);
      } 
  }