.loginform {
	background: #09184a;
	border-radius: 5px;
	position: absolute;
	height: 426px;
	width: 346px;
	top: 50%;
	left: 50%;
	margin: -213px 0 0 -193px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.loginform *{
	margin: 8px 0;
}
.loginform h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.bottomel {
    position: absolute;
    bottom: 0;
    width: 346px;
    display: flex;
	flex-direction: column;
}

.loginform input {
	background-color: white;
	border: 1px solid #2c85eb;
    background-color: #041f59;
	border-radius: 5px;
	padding: 12px;
    color: white;
}

.loginform input:focus {
    background-color: #03163f;
}

.loginform ::placeholder {
    color: rgb(187, 187, 187);
  }
.loginform button {
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #2c85eb;
	background-color: #2c85eb;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 16px;
	text-transform: uppercase;
	transition: background-color 0.2s;
}
.loginform button:hover {
    background-color: #041f59;
}
.loginform button:active {
    background-color: #03163f;
}
.modalbackground {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
#btnLogout{
    display: none;
}
body{
	background-image: url("https://t3.ftcdn.net/jpg/02/94/19/98/240_F_294199808_iVKkhLOnlSyGFnBXf15sFx9LEW6gF9en.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 97vh;
	font-family: 'Montserrat', sans-serif;
}
#menuToggle
        {
        display: block;
        position: absolute;
        top: 18px;
        left: 20px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
        }
        
        #menuToggle a
        {
        text-decoration: none;
        color: #232323;
        
        transition: color 0.3s ease;
        }
        
        #menuToggle a:hover
        {
        color: orange;
        }
        
        
        #menuToggle input
        {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; 
        z-index: 2; 
        -webkit-touch-callout: none;
        }
        #menuToggle span
        {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
        }
        
        #menuToggle span:first-child
        {
        transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
        transform-origin: 0% 100%;
        }
        #menuToggle input:checked ~ span
        {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
        }
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        }
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
        transform: rotate(-45deg) translate(0, -1px);
        }
        #menu
        {
        position: absolute;
        width: 250px;
        height: calc(100vh - 125px);
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: #D3D3D3;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        #menu li
        {
        padding: 10px 0;
        font-size: 22px;
        }
        #menuToggle input:checked ~ ul
        {
        transform: none;
        }


@media only screen and (max-width: 525px) {
	.loginform {
		box-shadow: 0;

		border-radius: 0;
		padding: 5px;

		position: 0;
		height: 100%;
		width: 98%;
		top: 0;
		left: 0;
		margin: 0;
	}
    
    .loginform *{
        margin: 8px 0;
        width: 98%;
    }
    
    .loginform input {
        padding: 10px 0;
    }
}